.flowers {
    position: relative;
    transform: scale(0.9);
  }
  
  .flower {
    position: absolute;
    bottom: 10vmin;
    transform-origin: bottom center;
    z-index: 10;
    --fl-speed: 0.8s;
  }
  
  .flower--1 {
    animation: moving-flower-1 4s linear infinite;
  }
  
  .flower--1 .flower_line {
    height: 70vmin;
    animation-delay: 0.3s;
  }
  
  .flower--1 .flower_line_leaf--1 {
    animation: blooming-leaf-right 4s infinite;
  }
  
